@font-face {
    font-family: 'Venetian 301';
    src: url('./assets/Venetian301BT-Roman.otf');
}

body {
    background-image: url('./assets/bg.png');
    background-size: 100% 100%;
    font-family: 'Venetian 301';
    color: #FFF;
    font-size: 2em;
    text-shadow: -1px 1px 0 #000, -1px -1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000;
}

.app-body {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.clan-list {
    list-style: none;
    margin: 0;
    padding: 0;
    
    display: grid;
    grid-template-columns: repeat(9, 1fr);
}

.clan-list button {
    font-family: 'Venetian 301';
    font-size: inherit;
    font-weight: inherit;
    border: none;
    color: inherit;
    background: none;
    padding: 0   
}

.clan-list-item {
    display: flex;
    align-items: center;
    justify-content: center;

    border: 2px solid #FFF;
    height: 100px;
    max-width: 100px;
    text-align:center;
}

.clan-list-item img {
    max-width: 90%;
    max-height: 90px;
}

.clan-display {
    display: grid;
    grid-template-areas: 
        "name image"
        "description image";
    grid-template-columns: 60% 40%;
    grid-template-areas: 20% 80%;;
}

.clan-display-image-area {
    grid-area: image;
    text-align: right;
    overflow: hidden
}

.clan-display div img {
    max-height: 500px;
}